<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vidsapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".VidsActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity android:name=".SplashActivity"
            android:screenOrientation="portrait"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".YoutubePlayerActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation"/>
        <activity
            android:name="com.vidsapp.YoutubePlaylistActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.vidsapp.VidsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vidsapp.VidsActivity" />
        </activity>

        <activity
            android:name="com.vidsapp.YoutubePlaylistPlayerActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="c571a009232e5f2b1bd8c00fc7863ee455548434" />

        <activity
            android:name="com.vidsapp.VidsFavoriteActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.vidsapp.VidsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.vidsapp.VidsActivity" />
        </activity>
        <!--Include the AdActivity configChanges and theme. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:theme="@android:style/Theme.Translucent" />
    </application>

</manifest>